@model AspNetGroupBasedPermissions.ViewModels.SelectGroupRolesViewModel
@{ ViewBag.Title = "Group Role Permissions"; }

<h2>Permissions for Group =  @Html.DisplayFor(model => model.GroupName)</h2>

@using (Html.BeginForm("GroupRoles", "Groups", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
{
  @Html.AntiForgeryToken()
  <div class="form-horizontal">
    @Html.ValidationSummary(true)
    
    @Html.HiddenFor(model => model.GroupName)
    @Html.HiddenFor(model => model.GroupId)

    <table class="table table-bordered">
      <tr>
        <th>
          Select
        </th>
        <th>
          Permissions
        </th>
        <th>
          Action
        </th>
      </tr>
      @Html.EditorFor(model => model.Roles)
    </table>
    <input type="submit" value="Save" class="btn btn-success" />
  </div>
}
<br />
<div>
  @Html.ActionLink("Back to List", "Index")
</div>

