
@model IEnumerable<AspNetGroupBasedPermissions.ViewModels.UserPermissionsViewModel>

@{ ViewBag.Title = "UserPermissions"; }

<h2>Effective Role Permissions for user: Load user</h2>
<hr />


<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.RoleId)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.RoleName)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Description)
      </th>
    </tr>
  </thead>
  <tbody>
  @foreach (var item in Model) {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.RoleId)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.RoleName)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Description)
      </td>
    </tr>
  }
  </tbody>
</table>


<div>
  @Html.ActionLink("Back to List", "Index")
</div>